table tr{
    overflow: hidden;
}
table tr th{
     visibility: hidden;
     opacity: 0;
}
table tr td.fadeInUp {
    animation-duration: 400ms;
}
table tr td:first-child{
    color: #00008b;
}
table tr td:last-child{
    text-transform: capitalize;
}

table tr td.object {
    color: #31708f;
}
table tr td.string {
    color: #3c763d;
}
table tr td.array {
    color: #8a6d3b;
}